export EYAML_PRIV_KEY=$(pass infra/puppet/eyaml)
layout python3
layout ruby

export AWS_ACCESS_KEY_ID=$(pass infra/aws/puppet-apply-cache/aws_access_key_id)
export AWS_SECRET_ACCESS_KEY=$(pass infra/aws/puppet-apply-cache/aws_secret_access_key)
