*.sw[po]
*.pyc
*~
/.env/
/.gem/
/.bin/
modules
/logs/
/modules/
/keys/
keys
/hieradata/
inventory.yaml
.rerun.json
.resource_types/
puppet-editor-services/
g10k-cache
facts_db/
.gems/
.history
inventory
